<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Default Title{% endblock title %}</title>
    <link href="/dist/output.css" type="text/css" rel="stylesheet">
  </head>
<body class="flex flex-col justify-between min-h-screen font-sans leading-normal tracking-normal bg-gruvbox-black text-gruvbox-gray"
    <main class="container flex-1 w-full md:max-w-3xl mx-auto overflow-x-hidden">
      <h1 class="text-center font-bold text-4xl">
        {% block h1_up %}{% endblock h1_up %}
      </h1>
      {% block content %}{% endblock content %}
    </main>

    <footer class="flex w-full h-20 justify-center items-center">
      {% block footer %}
      <p>&copy; 2023 <a href="placeholder-link"> Blog </a>by <a href="https://github.com/aikooo7"> aiko.</a> </p>
      {% endblock footer %}
    </footer>
  </body>
</html>
