{% extends "html_separated/layout.html" %}

{% block content %} 

<p class="text-center my-8">
Welcome to first blog post, this post will be about answering the blah blah blah questions because I don't have nothing else to do.
</p>

<h1 class="text-center font-bold text-gruvbox-gray text-2xl my-8"> Why did you do this? </h1> 

<p class="text-center my-8">
I wanted something that is "challenging" but some "funny" so why not do a blog right?<br>
Also I can type faster without using <a class="text-orange-400" target="_blank" href="https://monkeytype.com/" >monkeytype</a>, even throught I really like it.
</p>

<h1 class="text-center font-bold text-gruvbox-gray text-2xl my-8"> Grand finale </h1> 

<p class="text-center">
I know, I know, this post was so short but you know, I'm not creative as of right now and don't want to post the blog without nothing.<br>
Note that if I get more questions I will probably do a FAQ.<br>
And last but not least, if something comes to mind I will edit this and put a note saying the day I added it and what I added.
</p>

{% endblock content %}
